{% extends 'index.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  #active {
    border-radius: 50%;
  }

  #inactive {
    border-radius: 50%;
  }
  #active:hover {
    cursor: default !important;
  }
  #inactive:hover {
    cursor: default !important;
  }

  .table-responsive{
    font-size:11px;
  }
  .material-symbols-outlined
  {
    font-size:14px;
  }
    td{
    padding:0px;
    }
    .password{
        display:none;
    }
    .text{
      display:block;
    }
    .green-row{
      color:white;
      background-color:green!important;
    }
    .red-row{
      color:white;
      background-color:red!important;
    }
    .head-row{
      color:white;
      background-color:#165d5d!important;
    }
</style>
<hr>
<div class="container-fluid py-3">
    <div class="container" style="background: black; color: white; border-radius: 15px; padding: 40px;">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <h2 class="mb-4">Perform Prediction</h2>
                <form method="post" enctype="multipart/form-data" class="row g-3">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <label for="transcription">Select Symptoms:</label>
                        <div class="form-floating">
                            <input type="text" name="symptoms" class="form-control" id="transcription" placeholder="Type Systems Such as Itching, Sleeping, Aching etc." value="{{ request.POST.symptoms }}">
                            <label for="transcription" style="color:black">Type Symptoms Such as Itching, Sleeping, Aching etc.</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating"><i class="fa fa-microphone" style="font-size:24px"></i>
                        <button type="button" id="startSpeechRecognition" class="btn btn-info"
                                style="margin-left:3px;border:1px solid white; border-radius:20px;">
                            Start Speech Recognition
                        </button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-primary w-100 py-3" type="submit">Predict</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if predicted_disease %}
    <!-- Results -->
    <h1 class="text-center my-4 mt-4">Our AI System Results</h1>
    <div class="container">
        <div class="result-container">
            <!-- Buttons to toggle display -->
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal"
                    style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;">
                Disease
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#268AF3 ;color:black;">
                Description
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F371F9 ;color:black;">
                Precaution
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px;border-radius:5px; background:#F8576F ;color:black;">
                Medications
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#99F741 ;color:black;">
                Workouts
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#E5E23D;color:black;">
                Diets
            </button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#doctorModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#0dcaf0;color:black;">
                Suggested Doctor
            </button>
        </div>
    </div>
    {% endif %}

    <!-- Disease Modal -->
    <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <!-- Set header background color inline -->
                    <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #modal-body-color;">
                    <!-- Set modal body background color inline -->
                    <p>{{ predicted_disease }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Description Modal -->
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ dis_des }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Precaution Modal -->
    <div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_precautions %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Medications Modal -->
    <div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in medications %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Workouts Modal -->
    <div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in workout %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Diets Modal -->
    <div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_diet %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- Diets Modal -->
    <div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="doctorModalLabel">Suggested Doctor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <div class="container-fluid py-1">
                            <div class="card py-2">
                                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                                    <h1 class="mb-4">Doctor List</h1>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="wow fadeIn" data-wow-delay="0.3s">
                                            <div class="feature-matchs">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Doctor Name</th>
                                                        <th>Email Id</th>
                                                        <th>Mobile No</th>
                                                        <th>Creation Date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for i in doctor_list %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{i.doc_name}}</td>
                                                        <td>
                                                            <span id="email-{{forloop.counter}}" class="password">{{i.doc_email}}</span>
                                                            <button type="button" style="background-color:green" class="btn btn" id="email-btn-{{forloop.counter}}" onclick="togglePassword('email-{{forloop.counter}}', this.id)"><i class="fa fa-eye"></i></button>
                                                        </td>
                                                        <td>
                                                            <span id="mobile-{{forloop.counter}}" class="password">{{i.doc_contact}}</span>
                                                            <button type="button" style="background-color:green" class="btn btn" id="mobile-btn-{{forloop.counter}}" onclick="togglePassword('mobile-{{forloop.counter}}', this.id)"><i class="fa fa-eye"></i></button>
                                                        </td>
                                                        <td>{{i.creationdate}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
    const transcriptionTextarea = document.getElementById('transcription');

    startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

    function startSpeechRecognition() {
        const recognition = new webkitSpeechRecognition();

        recognition.lang = 'en-US';

        recognition.onresult = function (event) {
            const result = event.results[0][0].transcript;
            transcriptionTextarea.value = result;
        };

        recognition.onend = function () {
            console.log('Speech recognition ended.');
        };

        recognition.start();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
    function togglePassword(element_id, btnId){
      var elementData = document.getElementById(element_id);
      var elementBtn = document.getElementById(btnId);
      console.log(elementData.classList.contains("password"))
      if(elementData.classList.contains("password")){
        elementData.classList.remove("password");
        elementData.classList.add("text");
        elementBtn.children[0].classList.add("fa-eye-slash");
        elementBtn.children[0].classList.remove("fa-eye");
      }
      else{
        elementData.classList.remove("text");
        elementData.classList.add("password");
        elementBtn.children[0].classList.remove("fa-eye-slash");
        elementBtn.children[0].classList.add("fa-eye");
      }
    }
  </script>

{% endblock %}

